# Day2 오전미션
- 아래의 미션을 Jupyter Notebook으로 푼 후 [File] - [Download as] - [HTML] 저장 제출
- birdland1903@gmail.com
- 제출양식 : Day1_Mission_반복문_홍길동
- 처음 풀이 시, 30분 정도 구글링이나 Chat GPT 없이 풀이

## 1. 하나의 리스트를 입력받았을 때, 중복값을 제거하고 출력하는 함수를 만드시오.

In [47]:
def make_uniq2(arr):
    lst = np.array(arr)
    result = np.unique(lst)
    result = result.tolist()
    print(f"입력 리스트 : {arr}\n결과 리스트 : {result}")
    return result

lst_input = list(map(int,input().split()))
make_uniq2(lst_input)

 1 2 2 3

입력 리스트 : [1, 2, 2, 3]
결과 리스트 : [1, 2, 3]

[1, 2, 3]

In [3]:
# set으로 풀기
def make_uniq(lst):
    lst = set(lst)
    lst = list(lst)
    return lst

lst_input = list(map(int,input().split()))
print(f"입력 리스트 : {lst_input}\n 결과 리스트 : {make_uniq(lst_input)}")

 1 1 2 3

입력 리스트 : [1, 1, 2, 3]
 결과 리스트 : [1, 2, 3]

## 2. 입력받은 튜플을 오름차순으로 정렬하는 함수를 만드시오.

In [16]:
def sort(tu):
    arr = np.array(tu)
    result=np.sort(arr)
    result=tuple(result)
    return result


tuple_input = tuple(map(int,input().split()))
sort(tuple_input)
print(f"입력 튜플 : {tuple_input}\n 결과 리스트 : {sort(tuple_input)}")

 3 2 1

입력 튜플 : (3, 2, 1)
 결과 리스트 : (1, 2, 3)

In [2]:
# sorted 써서 튜플 정렬 바로 해도 됨
tup = (3,2,1)
sorted(tup)

[1, 2, 3]

## 3. 1부터 100까지의 숫자 중 6개의 숫자를 중복없이 임의로 생성하는 함수를 만드시오.

In [19]:
def get_rand():
    a = np.random.randint(1,101,6)
    return a

print(get_rand())

[47 10 11 15 68 56]

In [2]:
import random

def func3():
    result1 = []
    while len(result1)<6: # 여기로 다시 돌아감 <반복문의 조건 판단하는 곳으로>
        num = random.randint(1,101)
        if num in result1: # 중복 피할려고임 프린트 결과 안나오는게 정상
            print("a")
            continue # 만나면 밑에 코드 실행 안하는 거임
        else:
            result1.append(num)
    # return result1
    print(result1)

func3()

[74, 49, 48, 27, 87, 99]

## 4. 숫자를 입력받아 짝/홀수를 판별하는 프로그램을 if문 없이 만드시오.

In [22]:
ip = int(input('숫자를 입력해 주세요 : '))
dict = {True:'짝수',False:'홀수'}
is_ip = ip%2==0
val = dict[is_ip]

print(f"{ip}는 {val}입니다")

숫자를 입력해 주세요 :  1

1는 홀수입니다

## 5. 1부터 30의 숫자 중 홀수만 갖는 리스트를 만드시오

In [24]:
lst = []
for x in range(1,31):
    if x%2==0:
        pass
    else:
        lst.append(x)

print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [10]:
[x for x in range(1,31) if x%2!=0 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [13]:
import numpy as np
np.arange(1,30,2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

## 6. 1부터 30의 숫자 중 3의 배수이지만 4의 배수는 아닌 숫자를 출력하시오

In [25]:
lst = []
for x in range(1,31):
    if x%3==0 and x%4!=0:
        lst.append(x)

print(lst)

[3, 6, 9, 15, 18, 21, 27, 30]

In [14]:
[x for x in range(1,31) if x%3==0 and x%4!=0]

[3, 6, 9, 15, 18, 21, 27, 30]

## 7. 아래 두 리스트의 중복값을 제거한 후 오름차순으로 하나의 리스트로 출력하는 함수를 만드시오
- list1 = [100,200,500,600,700]
- list2 = [500,600,700,800,900]

In [33]:
ist1 = [100,200,500,600,700]
list2 = [500,600,700,800,900]
result = []

def get_uniq_list(list1,list2):
    for x in list1:
        if x not in list2:
            result.append(x)
    for y in list2:
        if y not in list1:
            result.append(y)
    result.sort()

get_uniq_list(list1,list2)
print(result)

[100, 200, 800, 900]

In [18]:
list1 = [100,200,500,600,700]
list2 = [500,600,700,800,900]

def get_uniq_list2(list1,list2):
    result1 = list(set(list2) - set(list1))
    result2 = list(set(list1) - set(list2))
    result = result1+ result2
    result.sort()
    print(result)

get_uniq_list2(list1,list2)

[100, 200, 800, 900]

In [20]:
sorted(list(set(list1+list2)))

[100, 200, 500, 600, 700, 800, 900]

## 8. 1~50 사이의 숫자를 랜덤으로 생성한 후, 숫자를 맞출 때까지 값을 입력해서 맞추는 프로그램을 생성. (업다운 게임)

- 숙련자 : 시도한 횟수도 표시

In [59]:
a = np.random.randint(1,51)
print(a)
count = 0
print('숫자를 맞춰주세요\n')
while True:
    ip = int(input())
    
    if ip==a:
        print(f'\n{count+1}번 만에 맞췄습니다.')
        break
    else:
        count+=1
        if ip>a:
            print('down\n')
        else:
            print('up\n')

36
숫자를 맞춰주세요

 1

up

 2

up

 36

3번 만에 맞췄습니다.