# 미션
- 01_Data.csv 사용

In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('01_Data.csv')

## 1. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은 고객이 유입된 경로를 확인하시오.

In [5]:
df1.columns

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank'],
      dtype='object')

In [40]:
df1['Channel'].value_counts()

Channel
영업방판       23767
홈쇼핑/방송     12977
대형마트A       4725
전문매장H       3227
재계약         2193
대형마트E       1497
전문매장Z       1206
전단홍보         560
홈쇼핑/인터넷      375
대형마트H        225
직영유통사        188
자체홈페이지       120
대형마트C        119
대형마트N         83
직영계열사A        20
직영계열사B        19
Name: count, dtype: int64

## 2. 가장 많이 유입된 경로(Channel)에 계약된 월랜탈비용(Amount_Month)의 평균을 계산하시오.

In [36]:

cond1 = (df1['Channel']=='')
p = df1.loc[cond1]

p.pivot_table(index='Channel',
               values='Amount_Month',
               aggfunc='mean')

          Amount_Month
Channel
영업방판     100322.794631

## 3. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.

In [17]:
cond2 = (df1['Channel']=='대형마트A')
p = df1.loc[cond2]
a=p.sort_values(by='Overdue_count',ascending=0).head(30).to_excel('result4.xlsx')
# a['Overdue_count']

## 4. 유입 경로가 가장 많은 5개의 채널에 대해 데이터를 추출

In [57]:
df1['Channel'].value_counts().head(5).index

Index(['영업방판', '홈쇼핑/방송', '대형마트A', '전문매장H', '재계약'], dtype='object', name='Channel')

In [61]:
cond1 = (df1['Channel'].isin([i for i in df1['Channel'].value_counts().head(5).index]))
p = df1.loc[cond1]
print(p['Channel'].unique())
p

['영업방판' '홈쇼핑/방송' '재계약' '전문매장H' '대형마트A']

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-02-28,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2022-03-31,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-03-31,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-05,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-23,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

## 5. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.

In [70]:
df1['Product_Type'].value_counts() # 옆에 숫자는 항목의 개수

Product_Type
DES-1     39133
DES-2      8996
DES-3A     2081
ERA         644
DES-R4      327
MMC         120
Name: count, dtype: int64

## 6. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오.

In [103]:
# 1. df2 선언
# 2. df2에 따른 계약일자와 월렌탈비용 표 보기
    # - 날짜에 따른 컬럼 한개 만듬
    # - 제품군의 df2에 해당하는 것만 뽑아옴
    # - df2, 웰렌탈비용 피봇테이블
df1.head(3)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행

In [102]:
df2 = df1['Product_Type'].value_counts().head(3).index
df2

Index(['DES-1', 'DES-2', 'DES-3A'], dtype='object', name='Product_Type')

In [98]:
da = df1["Datetime"][1]
y = da[0:4]
m = da[6:7]

df1['Product_Type']

2023-02-19,2023,2

In [104]:
df1["Datetime"].unique()

array(['2022-05-05', '2023-02-19', '2022-02-27', '2022-05-12',
       '2022-05-09', '2022-07-28', '2022-01-29', '2022-01-16',
       '2022-06-29', '2022-07-22', '2022-08-08', '2023-02-09',
       '2023-07-11', '2022-04-28', '2022-06-24', '2022-09-27',
       '2023-01-16', '2023-04-02', '2023-04-25', '2023-07-23',
       '2021-12-31', '2022-01-20', '2022-01-28', '2022-02-11',
       '2022-02-23', '2022-03-14', '2022-04-07', '2022-04-27',
       '2022-05-30', '2022-08-09', '2022-08-20', '2022-09-02',
       '2022-10-04', '2022-11-25', '2023-01-22', '2023-04-11',
       '2023-07-24', '2022-06-17', '2022-08-01', '2022-09-05',
       '2022-09-06', '2022-12-18', '2022-06-19', '2022-02-26',
       '2022-01-07', '2022-03-30', '2022-10-02', '2022-05-03',
       '2022-04-02', '2022-04-30', '2022-07-21', '2022-02-15',
       '2022-07-29', '2023-01-21', '2022-01-03', '2022-01-30',
       '2022-03-08', '2022-10-01', '2023-03-23', '2023-06-29',
       '2023-07-29', '2022-02-24', '2022-05-07', '2022-07-12',
       '2022-05-28', '2022-05-26', '2022-06-10', '2022-09-11',
       '2022-01-02', '2022-01-14', '2022-09-09', '2022-12-24',
       '2023-01-14', '2023-05-27', '2023-08-06', '2022-01-04',
       '2023-06-18', '2022-01-19', '2022-10-22', '2022-04-13',
       '2022-02-08', '2022-02-20', '2022-07-13', '2022-06-21',
       '2022-08-15', '2022-11-01', '2023-06-30', '2023-06-20',
       '2022-01-24', '2022-04-05', '2022-04-21', '2022-07-08',
       '2022-09-22', '2022-10-17', '2023-03-02', '2023-07-09',
       '2023-07-30', '2022-08-27', '2022-02-10', '2023-02-25',
       '2023-06-03', '2023-05-24', '2023-06-22', '2023-06-23',
       '2023-07-21', '2022-01-31', '2022-12-03', '2022-12-16',
       '2023-05-18', '2022-09-19', '2022-11-18', '2022-11-21',
       '2022-11-29', '2022-12-11', '2022-12-20', '2022-03-06',
       '2022-01-27', '2023-07-18', '2022-05-20', '2022-07-30',
       '2022-01-13', '2022-07-16', '2022-08-29', '2022-03-31',
       '2023-05-19', '2022-06-05', '2022-09-23', '2022-08-16',
       '2022-02-28', '2022-02-18', '2022-02-19', '2022-02-22',
       '2022-03-24', '2022-02-02', '2022-10-03', '2022-02-14',
       '2022-03-01', '2022-06-15', '2022-07-05', '2023-02-02',
       '2022-03-25', '2022-07-19', '2022-08-23', '2023-03-24',
       '2022-01-10', '2022-03-28', '2022-04-29', '2022-01-05',
       '2022-04-01', '2023-06-02', '2022-02-03', '2022-10-21',
       '2023-02-18', '2023-04-06', '2022-04-09', '2022-04-10',
       '2022-04-23', '2022-06-28', '2022-10-29', '2022-12-13',
       '2023-01-09', '2023-02-06', '2022-06-30', '2022-01-01',
       '2022-06-23', '2022-08-28', '2023-02-17', '2022-06-20',
       '2022-12-19', '2022-06-26', '2022-12-15', '2023-03-31',
       '2023-05-12', '2022-10-20', '2022-09-29', '2022-10-23',
       '2022-01-06', '2022-09-25', '2023-03-10', '2022-12-17',
       '2022-03-20', '2022-07-18', '2023-01-15', '2023-01-29',
       '2023-03-06', '2022-01-15', '2023-03-08', '2023-03-12',
       '2023-03-16', '2023-03-22', '2023-03-26', '2022-01-25',
       '2022-10-06', '2022-11-09', '2023-02-04', '2022-02-01',
       '2023-07-22', '2022-02-17', '2022-04-04', '2022-08-05',
       '2022-04-15', '2022-05-17', '2022-05-15', '2022-06-03',
       '2022-11-28', '2022-01-17', '2022-03-22', '2022-10-24',
       '2022-07-02', '2022-01-12', '2022-03-23', '2022-02-16',
       '2022-07-14', '2022-07-24', '2022-08-02', '2022-08-13',
       '2022-09-24', '2022-10-12', '2022-11-04', '2022-11-06',
       '2022-11-20', '2022-11-24', '2022-11-30', '2022-12-09',
       '2023-02-05', '2023-02-23', '2023-04-08', '2023-04-12',
       '2023-04-15', '2022-03-13', '2022-05-04', '2023-07-01',
       '2022-09-30', '2022-03-10', '2022-12-12', '2023-06-25',
       '2022-02-05', '2022-02-25', '2022-10-25', '2023-07-02',
       '2022-06-25', '2023-07-28', '2022-11-11', '2023-01-30',
       '2022-01-23', '2022-02-07', '2022-03-19', '2022-05-16',
       '2023-04-20', '2023-07-19', '2022-12-08', '2022-12-31',
       '2023-02-26', '2022-03-29', '2022-05-19', '2022-05-01',
       '2022-02-09', '2023-08-05', '2023-01-23', '2022-04-08',
       '2022-05-02', '2022-05-14', '2022-05-24', '2022-07-10',
       '2022-08-12', '2023-01-06', '2023-04-14', '2023-01-08',
       '2023-02-28', '2022-05-10', '2022-02-12', '2022-03-09',
       '2022-06-13', '2022-08-03', '2023-04-29', '2022-07-17',
       '2022-02-04', '2022-04-14', '2022-05-27', '2022-08-18',
       '2023-05-13', '2022-02-21', '2022-03-05', '2022-04-11',
       '2023-01-11', '2023-02-13', '2023-04-05', '2022-12-26',
       '2023-01-20', '2023-02-22', '2023-01-18', '2023-05-06',
       '2023-01-03', '2022-05-18', '2022-10-10', '2022-08-24',
       '2022-03-11', '2023-01-25', '2023-02-12', '2023-03-01',
       '2023-07-15', '2023-07-31', '2022-12-14', '2023-01-12',
       '2022-06-04', '2023-02-16', '2023-03-14', '2023-05-21',
       '2023-03-11', '2022-08-04', '2022-11-10', '2022-09-08',
       '2022-03-15', '2022-07-15', '2023-01-01', '2023-02-07',
       '2022-09-15', '2022-06-08', '2023-05-10', '2022-01-22',
       '2022-03-07', '2023-08-04', '2022-06-18', '2023-04-03',
       '2022-05-06', '2022-06-02', '2022-09-01', '2022-11-17',
       '2023-05-20', '2022-01-18', '2022-04-03', '2023-01-26',
       '2022-07-26', '2022-08-26', '2022-09-03', '2022-09-07',
       '2022-08-30', '2022-11-07', '2022-04-06', '2022-04-16',
       '2023-07-08', '2022-07-07', '2023-03-09', '2022-08-06',
       '2022-03-27', '2022-09-04', '2022-10-11', '2023-03-15',
       '2023-03-21', '2023-04-01', '2022-09-26', '2023-01-31',
       '2023-06-21', '2022-08-11', '2023-01-24', '2023-02-01',
       '2023-02-15', '2023-03-03', '2023-03-07', '2023-04-07',
       '2023-04-18', '2023-03-30', '2022-01-11', '2023-05-03',
       '2023-03-04', '2023-08-03', '2023-02-27', '2023-03-05',
       '2023-08-01', '2022-03-02', '2022-05-08', '2022-06-14',
       '2023-02-20', '2023-03-20', '2022-06-22', '2023-04-09',
       '2022-07-04', '2022-10-15', '2022-12-23', '2023-01-07',
       '2023-05-28', '2023-07-16', '2022-07-20', '2023-01-19',
       '2023-05-15', '2022-03-21', '2022-02-06', '2022-07-25',
       '2023-06-13', '2022-12-10', '2022-11-27', '2022-05-31',
       '2022-11-26', '2023-03-25', '2022-03-18', '2022-12-02',
       '2022-05-23', '2022-09-20', '2022-06-11', '2022-05-29',
       '2022-07-09', '2023-04-10', '2023-04-13', '2023-04-23',
       '2023-06-16', '2022-12-04', '2022-03-03', '2022-09-18',
       '2022-12-28', '2023-04-28', '2022-07-27', '2022-12-29',
       '2023-04-21', '2022-10-14', '2022-08-17', '2023-07-27',
       '2022-02-13', '2022-03-26', '2022-07-31', '2022-09-17',
       '2023-07-05', '2022-01-21', '2022-04-18', '2022-06-12',
       '2022-06-27', '2022-09-14', '2022-10-30', '2023-04-27',
       '2023-07-06', '2023-01-27', '2022-09-13', '2022-03-17',
       '2022-10-18', '2023-05-22', '2023-06-28', '2022-09-16',
       '2023-07-04', '2023-07-20', '2022-06-06', '2022-09-10',
       '2022-10-09', '2022-11-02', '2023-06-24', '2022-11-08',
       '2022-10-05', '2023-04-16', '2023-01-04', '2023-06-27',
       '2022-11-23', '2022-04-17', '2022-08-07', '2023-01-13',
       '2022-08-19', '2022-08-25', '2022-10-26', '2022-11-05',
       '2022-12-07', '2022-04-12', '2022-06-07', '2022-09-21',
       '2022-11-12', '2022-11-14', '2022-11-22', '2022-12-22',
       '2023-02-11', '2022-08-22', '2022-01-08', '2023-04-22',
       '2022-06-01', '2023-06-19', '2022-04-24', '2022-04-22',
       '2022-01-09', '2022-05-11', '2022-08-10', '2022-08-31',
       '2022-10-08', '2022-06-16', '2023-05-08', '2022-10-13',
       '2022-07-03', '2022-07-01', '2022-01-26', '2022-05-21',
       '2022-03-16', '2022-07-23', '2023-07-12', '2023-06-15',
       '2023-07-10', '2023-03-13', '2022-07-11', '2023-07-07',
       '2022-10-28', '2023-05-07', '2023-01-28', '2022-10-27',
       '2022-12-25', '2023-04-24', '2022-12-05', '2023-04-26',
       '2023-05-05', '2022-11-19', '2022-12-21', '2023-02-24',
       '2022-05-25', '2023-07-03', '2022-10-07', '2023-05-02',
       '2023-07-25', '2023-06-26', '2023-01-17', '2023-04-04',
       '2022-10-19', '2022-08-21', '2022-09-12', '2022-11-03',
       '2022-12-30', '2022-06-09', '2023-05-31', '2022-03-12',
       '2023-05-04', '2022-12-06', '2023-06-09', '2023-02-08',
       '2023-05-26', '2022-05-22', '2022-12-01', '2023-04-19',
       '2022-04-19', '2023-01-10', '2023-05-16', '2023-02-03',
       '2023-04-17', '2022-10-16', '2022-10-31', '2022-08-14',
       '2023-05-01', '2023-03-19', '2023-05-29', '2023-02-21',
       '2023-06-11', '2022-11-15', '2022-05-13', '2023-05-14',
       '2023-05-17', '2022-11-13', '2023-03-29', '2023-06-17',
       '2023-02-10', '2022-09-28', '2022-11-16', '2023-01-05',
       '2023-07-13', '2023-08-02', '2023-01-02', '2023-07-26',
       '2022-04-20', '2023-05-11', '2023-07-17', '2023-05-09',
       '2023-05-25', '2022-07-06', '2023-06-12', '2023-04-30',
       '2023-06-01', '2022-12-27', '2023-05-23', '2023-06-08',
       '2023-03-28', '2023-08-07', '2023-02-14', '2023-06-04',
       '2023-06-14', '2023-05-30', '2023-06-10', '2023-06-06',
       '2023-06-05'], dtype=object)

In [ ]:
def f(x):
    y = x[0:4]
    m = x[6:7]
    return y+'년'+m'월'

df1['date'] = df1['Age'].apply(age_func2)

## 7. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 2개의 항목의 월랜탈비용('Amount_Month')의 평균의 차이를 계산하시오.

## 8. 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오

## 9. 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

## 10. 계약일자(Datetime)에서 계약연도(Year)파생변수를 생성하고, 연도 별, 각 제품군(Product_Type)의 월랜탈비용(Amount_Month) 합을 계산하시오.

## 11. 22년 대비 23년 제품군(Product_Type)별 월랜탈비용(Amount_Month) 합의 증감율을 계산하시오. 
- 증감율 : ( (22년 월랜탈비용 총합) - (23년 월랜탈비용 총합) ) / (22년 월랜탈비용 총합)

## 12. 판매 유형(Sales_Type)에서 '렌탈'계약과 '멤버십' 계약의 월랜탈비용(Amount_Month)의 평균의 차이를 계산하시오.

## 13. 계약 데이터를 주기적으로 정리하는 업무자동화 프로그램을 만들고자 한다. 데이터에서 주차(Work Week)를 입력 해, 해당 주차의 제품 군(Product_Type)별 월랜탈비용(Amount_Month)의 합과 평균을 엑셀로 출력하는 함수를 생성하시오. 
- 파일이 저장 될 때, 아래와 같은 이름으로 저장 되어야 합니다. 
- 1주차 입력시 -> '1week_Product_Contract.xlsx'
- 3주차 입력시 -> '3week_Product_Contract.xlsx'