# 미션
- 01_Data.csv 사용

In [47]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('01_Data.csv')

## 1. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel)중 가장 많은 고객이 유입된 경로를 확인하시오.

In [3]:
df1.columns

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank'],
      dtype='object')

In [12]:
df1['Channel'].value_counts().index[0]

'영업방판'

In [9]:
df1['Channel'].describe(include = 'object') # 기술통계값 나옴
ct = df1['Channel'].describe(include = 'object').top

## 2. 가장 많이 유입된 경로(Channel)에 계약된 월랜탈비용(Amount_Month)의 평균을 계산하시오.

In [10]:
cond1 = (df1['Channel']==ct)
p = df1.loc[cond1]

p.pivot_table(index='Channel',
               values='Amount_Month',
               aggfunc='mean')

          Amount_Month
Channel
영업방판     100322.794631

In [16]:
cond1 = (df1['Channel']==ct)
p = df1.loc[cond1]
p['Amount_Month'].mean()

100322.79463121135

## 3. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.

In [67]:
cond2 = (df1['Channel']=='대형마트A')
p = df1.loc[cond2]

a=p.sort_values(by='Overdue_count',ascending=0).head(30)
a
a.to_excel('result4.xlsx')

<ipython-input-67-aecdad7ac1ba>:6: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).
  a.to_excel('result4.xlsx')

## 4. 유입 경로가 가장 많은 5개의 채널에 대해 데이터를 추출

In [69]:
top5 = df1['Channel'].value_counts().head(5).index

In [71]:
cond1 = df1['Channel'].isin(top5)
cond1
p = df1.loc[cond1]
print(p['Channel'].unique())
p

['영업방판' '홈쇼핑/방송' '재계약' '전문매장H' '대형마트A']

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,...,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank,Datetime_dt,Year,Week
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,...,경기도,계약확정,0,없음,여자,9.0,새마을금고,2022-05-05,2022,18
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,...,경기도,계약확정,0,없음,남자,2.0,현대카드,2023-02-19,2023,7
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,...,경기도,계약확정,0,없음,여자,8.0,우리은행,2022-02-27,2022,8
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,...,경기도,계약확정,0,없음,남자,5.0,농협회원조합,2022-05-12,2022,19
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,...,경기도,기간만료,12,있음,남자,8.0,농협회원조합,2022-05-09,2022,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-02-28,60,CMS,DES-3A,96900,...,경기도,계약확정,0,없음,남자,NaN,기업은행,2022-02-28,2022,9
51297,51299,66799558,렌탈,일반계약,대형마트A,2022-03-31,60,CMS,DES-1,96900,...,경기도,계약확정,0,없음,여자,8.0,새마을금고,2022-03-31,2022,13
51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-03-31,39,카드이체,ERA,120900,...,서울특별시,계약확정,0,없음,여자,1.0,롯데카드,2022-03-31,2022,13
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-05,60,카드이체,DES-1,96900,...,서울특별시,계약확정,0,없음,여자,2.0,롯데카드,2023-02-05,2023,5
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-23,60,CMS,DES-1,96900,...,서울특별시,계약확정,0,없음,여자,8.0,신한은행,2022-04-23,2022,16

## 5. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.

In [11]:
df1['Product_Type'].unique() # 옆에 숫자는 항목의 개수

array(['DES-1', 'DES-3A', 'DES-2', 'DES-R4', 'MMC', 'ERA'], dtype=object)

## 6. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx파일로 저장하시오.

In [85]:
top3 = df1['Product_Type'].value_counts().index[0:3]
cond1 = df1['Product_Type'].isin(top3)
df2 = df1.loc[cond1]
# df2['Product_Type'].unique()

array(['DES-1', 'DES-3A', 'DES-2'], dtype=object)

In [89]:
df2['Datetime_dt'] = pd.to_datetime(df1['Datetime'])
# 형식 str이 아니라 날짜로 변경해 높으면 월,년도 쉽게 뽑을 수 있음
df2['Year'] = df2['Datetime_dt'].dt.year
df2['Month'] =df2['Datetime_dt'].dt.month

result5 = df2.pivot_table(index = 'Product_Type',
               values = 'Amount_Month',
               aggfunc = 'sum',b
               columns=['Year','Month']).T
result5.to_excel("result5.xlsx")

<ipython-input-89-025256f83bb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Datetime_dt'] = pd.to_datetime(df1['Datetime'])
<ipython-input-89-025256f83bb8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Year'] = df2['Datetime_dt'].dt.year
<ipython-input-89-025256f83bb8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Month'] =df2['Datetime_dt'].dt.month
<ipython-input-89-025256f83bb8>:10: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).
  result5.to_excel("result5.xlsx")

In [ ]:
# 선생님

In [26]:
df2 = df1['Product_Type'].value_counts().index[0:3]

In [31]:
cond1 = df1['Product_Type'].isin(df2)
df1 = df1.loc[cond1]

In [32]:
df1['Datetime_dt'] = pd.to_datetime(df1['Datetime'])

df1['Year'] = df1['Datetime_dt'].dt.year
df1['Month'] = df1['Datetime_dt'].dt.month

# 주차 별 제품군에 따른 월렌탈비용의 합
df1.pivot_table(index = 'Product_Type',
               values='Amount_Month',
               aggfunc='sum',
               columns=['Year','Month']).T.to_excel('result5.xlsx')

<ipython-input-32-a72b8053f87d>:7: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).
  df1.pivot_table(index = 'Product_Type',

## 7. 제품군(Product_Type)중 계약을 가장 많이한, 빈도수가 가장 높은 상위 2개의 항목의 월랜탈비용('Amount_Month')의 평균의 차이를 계산하시오.

In [95]:
top2 = df1['Product_Type'].value_counts().index[0:2]

cond1 = df1['Product_Type']==top2[0]
cond2 = df1['Product_Type']==top2[1]

a=df1.loc[cond1]
b=df1.loc[cond2]
abs(a['Amount_Month'].mean() - b['Amount_Month'].mean())

6868.154548431063

In [96]:
# 선생님

In [59]:
top2 = df1['Product_Type'].value_counts().index[0:2]

cond1 = (df1['Product_Type']==top2[0])
cond2 = (df1['Product_Type']==top2[1])

p1 = df1.loc[cond1]
p2 = df1.loc[cond2]

abs(p1['Amount_Month'].mean() - p2['Amount_Month'].mean())

6868.154548431063

## 8. 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오

In [110]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
 20  Datetime_dt    51301 non-null  datetime64[ns]
 21  Year           51301 non-null  int32
 22  Week           51301 non-null  UInt32
 23  Month          51301 non-null  int32
dtypes: UInt32(1), datetime64[ns](1), float64(2), int32(2), int64(5), object(13)
memory usage: 8.9+ MB

In [107]:
df1['Bank'].unique()

array(['새마을금고', '현대카드', '우리은행', '농협회원조합', '농협중앙회', '롯데카드', '신한은행', '국민카드',
       '부산은행', '우체국', '국민은행', '기업은행', 'SC제일은행', nan, '대구은행', '하나은행',
       '신한카드', '삼성카드', '광주은행', '외환은행', 'BC카드', '씨티은행', '신협중앙회', '경남은행',
       '미래에셋증권', '외환카드', '수협중앙회', '유안타증권', '전북은행', '상호저축은행', '대신증권',
       '산업은행', '현대증권', '산림조합중앙회', '제주은행', '삼성증권', '하나대투증권', 'SK증권',
       '수협카드', '한국투자증권', '신한금융투자', '하나SK', 'NH농협카드', '메리츠종합금융증권',
       '하이투자증권', '우리카드', '대우증권', '씨티카드'], dtype=object)

In [108]:
cond1 = (df1['Bank'] == '신한카드')
a = df1.loc[cond1]
a.shape[0]

1532

In [147]:
def find(x):
#     print(type(x))
    if '신한' in x:
        return True
    else:
        return False

p1 = df1.dropna()
p1 = df1.dropna(subset=['Bank'])
# nan은 str이 아니라서 오류가 난다 
# 해결방법 
# 1. 함수에서 x를 str(x)처리하기
# 2. nan 결측치 처리 -> 불완전한 방법임 이유 : dropna는 bank뿐만 아니라 모든 항목에서 nan을 다 없앰
# 즉, 신한인 행도 nan값이 있으면 없어져서 수가 정답과 다른것
# p1 = df1.dropna(subset=['Bank']) 이렇게 하면 정상화
cond1 = p1['Bank'].apply(find)
a = p1.loc[cond1]
a.shape[0]

5058

In [ ]:
# 선생님

In [48]:
df1['Bank'].value_counts()

Bank
롯데카드         9516
농협회원조합       6277
국민은행         6002
농협중앙회        3899
신한은행         3522
우리은행         3386
기업은행         1963
신한카드         1532
하나은행         1446
국민카드         1311
BC카드         1264
새마을금고         964
부산은행          889
삼성카드          884
현대카드          876
대구은행          746
우체국           718
외환은행          586
외환카드          530
경남은행          442
SC제일은행        439
광주은행          347
신협중앙회         341
전북은행          195
씨티은행          162
수협중앙회         160
제주은행           40
유안타증권          27
산업은행           23
현대증권           11
삼성증권            7
하나SK            6
미래에셋증권          5
한국투자증권          4
신한금융투자          4
NH농협카드          4
우리카드            3
대우증권            2
산림조합중앙회         1
대신증권            1
하나대투증권          1
SK증권            1
수협카드            1
상호저축은행          1
메리츠종합금융증권       1
하이투자증권          1
씨티카드            1
Name: count, dtype: int64

In [49]:
def bank(row):
    if '신한' in str(row):
        return True
    else:
        return False
    
cond1 = df1['Bank'].apply(bank)
df1.loc[cond1].shape[0]

5058

## 9. 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

In [116]:
cond1 = (df1['Amount_Month']>=150000)
cond2 = (df1['Sales_Type']=='렌탈')

df1.loc[cond1&cond2].shape[0]

141

In [117]:
# 선생님

In [51]:
cond1 = (df1['Amount_Month']) >= 150000
cond2= (df1['Sales_Type'] == '렌탈')

df1.loc[cond1&cond2].shape[0]

141

## 10. 계약일자(Datetime)에서 계약연도(Year)파생변수를 생성하고, 연도 별, 각 제품군(Product_Type)의 월랜탈비용(Amount_Month) 합을 계산하시오.

In [122]:
df1['Datetime_dt'] = pd.to_datetime(df1['Datetime'])
df1['Year'] = df1['Datetime_dt'].dt.year

df1.pivot_table(index = 'Product_Type',
               values = 'Amount_Month',
               aggfunc = 'sum',
               columns='Year',
               fill_value = 0)

Year             2021        2022       2023
Product_Type
DES-1         3201600  2945729313  746184813
DES-2         1082100   631794330  154780860
DES-3A         272700   157173060   39639300
DES-R4              0    33891300    8437200
ERA                 0    62944500   14171100
MMC                 0    17540100    5193900

In [ ]:
# 선생님

In [52]:
df1['Datetime_dt'] = pd.to_datetime(df1['Datetime'])
df1['Year'] = df1['Datetime_dt'].dt.year

In [53]:
df1.pivot_table(index='Product_Type',
               values='Amount_Month',
               aggfunc='sum',
               columns='Year',
               fill_value=0)

Year             2021        2022       2023
Product_Type
DES-1         3201600  2945729313  746184813
DES-2         1082100   631794330  154780860
DES-3A         272700   157173060   39639300
DES-R4              0    33891300    8437200
ERA                 0    62944500   14171100
MMC                 0    17540100    5193900

## 11. 22년 대비 23년 제품군(Product_Type)별 월랜탈비용(Amount_Month) 합의 증감율을 계산하시오. 
- 증감율 : ( (22년 월랜탈비용 총합) - (23년 월랜탈비용 총합) ) / (22년 월랜탈비용 총합)

In [131]:
a = df1.pivot_table(index='Product_Type',
               values='Amount_Month',
               aggfunc='sum',
               columns='Year',
               fill_value=0)
a['증감률'] = (a[2022] - a[2023])/a[2022]*100
# 22년 대비 23년 제품군(Product_Type)별 월랜탈비용(Amount_Month) 합의 증감율 
# a 피벗테이블은 이미 년도에 따른 월 렌탈비용에 대한 값임
# 증감률을 계산하려면 바로 값에 접근해서 계산하면 된다.
a

Year             2021        2022       2023        증감률
Product_Type
DES-1         3201600  2945729313  746184813  74.668928
DES-2         1082100   631794330  154780860  75.501385
DES-3A         272700   157173060   39639300  74.779838
DES-R4              0    33891300    8437200  75.105115
ERA                 0    62944500   14171100  77.486357
MMC                 0    17540100    5193900  70.388424

In [ ]:
# 선생님

In [54]:
p1 = df1.pivot_table(index='Product_Type',
               values='Amount_Month',
               aggfunc='sum',
               columns='Year',
               fill_value=0)
p1

Year             2021        2022       2023
Product_Type
DES-1         3201600  2945729313  746184813
DES-2         1082100   631794330  154780860
DES-3A         272700   157173060   39639300
DES-R4              0    33891300    8437200
ERA                 0    62944500   14171100
MMC                 0    17540100    5193900

In [55]:
# 증감률
p1['증감율'] = (p1[2022]-p1[2023])/p1[2022]*100
p1

Year             2021        2022       2023        증감율
Product_Type
DES-1         3201600  2945729313  746184813  74.668928
DES-2         1082100   631794330  154780860  75.501385
DES-3A         272700   157173060   39639300  74.779838
DES-R4              0    33891300    8437200  75.105115
ERA                 0    62944500   14171100  77.486357
MMC                 0    17540100    5193900  70.388424

In [57]:
p1[[2021,2023,'증감율']]

Year             2021       2023        증감율
Product_Type
DES-1         3201600  746184813  74.668928
DES-2         1082100  154780860  75.501385
DES-3A         272700   39639300  74.779838
DES-R4              0    8437200  75.105115
ERA                 0   14171100  77.486357
MMC                 0    5193900  70.388424

## 12. 판매 유형(Sales_Type)에서 '렌탈'계약과 '멤버십' 계약의 월랜탈비용(Amount_Month)의 평균의 차이를 계산하시오.

In [132]:
cond1 = (df1['Sales_Type']=='렌탈')
cond2 = (df1['Sales_Type']=='멤버십')

df11 = df1.loc[cond1]
df12 = df1.loc[cond2]

abs(df11['Amount_Month'].mean() - df12['Amount_Month'].mean())

34122.413318100276

In [134]:
# 선생님

In [133]:
cond1 = (df1['Sales_Type']=='렌탈')
cond2 = (df1['Sales_Type']=='멤버십')

p1 = df1.loc[cond1]
p2 = df1.loc[cond2]

abs(p1['Amount_Month'].mean() - p2['Amount_Month'].mean())

34122.413318100276

## 13. 계약 데이터를 주기적으로 정리하는 업무자동화 프로그램을 만들고자 한다. 데이터에서 주차(Work Week)를 입력 해, 해당 주차의 제품 군(Product_Type)별 월랜탈비용(Amount_Month)의 합과 평균을 엑셀로 출력하는 함수를 생성하시오. 
- 파일이 저장 될 때, 아래와 같은 이름으로 저장 되어야 합니다. 
- 1주차 입력시 -> '1week_Product_Contract.xlsx'
- 3주차 입력시 -> '3week_Product_Contract.xlsx'

In [142]:
df1['Work Week'] = df1['Datetime_dt'].dt.isocalendar().week
df1

df1.pivot_table(index = 'Product_Type',
               values = 'Amount_Month',
               aggfunc = ['sum','mean'])

                      sum           mean
             Amount_Month   Amount_Month
Product_Type
DES-1          3695115726   94424.545166
DES-2           787657290   87556.390618
DES-3A          197085060   94706.900529
DES-R4           42328500  129444.954128
ERA              77115600  119744.720497
MMC              22734000  189450.000000

In [62]:
df1['Week'] = df1['Datetime_dt'].dt.isocalendar().week

In [63]:
week_input = int(input('주차를 입력하시오'))
cond1 = (df1['Week'] == week_input)
p1 = df1.loc[cond1]
p1.pivot_table(index = 'Product_Type',values='Amount_Month',
              aggfunc=['sum','mean'])

주차를 입력하시오a

ValueError: invalid literal for int() with base 10: 'a'

In [64]:
def func13():
    week_input = int(input('주차를 입력하시오'))
    cond1 = (df1['Week'] == week_input)
    p1 = df1.loc[cond1]
    p2 = p1.pivot_table(index = 'Product_Type',values='Amount_Month',
                  aggfunc=['sum','mean'])
    p2.to_excel(f"{week_input}week_Product_Contract.xlsx")
    return p2

In [65]:
func13()

주차를 입력하시오13

<ipython-input-64-4d188ffbe0a9>:7: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).
  p2.to_excel(f"{week_input}week_Product_Contract.xlsx")

                      sum           mean
             Amount_Month   Amount_Month
Product_Type
DES-1           141616683   94600.322645
DES-2            27120840   88630.196078
DES-3A            6261000   94863.636364
DES-R4            2092800  130800.000000
ERA               2950500  118020.000000
MMC                742800  185700.000000

In [100]:
def func14():
    year_input = int(input('연도를 입력하시오'))
    week_input = int(input('주차를 입력하시오'))
    
    cond1 = (df1['Year'] == year_input)
    cond1 = (df1['Week'] == week_input)
    
    p1 = df1.loc[cond1 & cond2]
    
    p2 = p1.pivot_table(index = 'Product_Type',values='Amount_Month',
                  aggfunc=['sum','mean'])
    p2.to_excel(f"{year_input}_{week_input}week_Product_Contract.xlsx")
    return p2

func14()

연도를 입력하시오2022
주차를 입력하시오13

<ipython-input-100-7cde3dd41fd7>:12: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).
  p2.to_excel(f"{year_input}_{week_input}week_Product_Contract.xlsx")

                      sum          mean
             Amount_Month  Amount_Month
Product_Type
DES-2            27120840  88630.196078