# 미션풀이

- 데이터가 병합된 Merge_Data.csv 를 df2로 선언해 사용
- 시각화는 seaborn를 사용하여 시각화

- 소매점 판매 데이터의 고객에 대한 분석을 수행하고자 한다.

In [28]:
import pandas as pd

In [29]:
import matplotlib as mpl # 그래프 옵션(글꼴)
import matplotlib.pyplot as plt # 그래프 옵션(그래프 축 / 범례 / 제목 / 사이즈)
import seaborn as sns # 시각화

In [30]:
import plotly.express as px

In [31]:
df2 = pd.read_csv('Merge_Data.csv')
df2

,Unnamed: 0,회원번호,회원상태,성별,결혼유무,주소,생년,연령,총구매금액,총구매수량,등급2,label,총방문횟수
0,0,2101,정상회원,여,기혼,서울 강북구 미아동 134-,1967,51,1991230.00,382.00,VIP,1,86
1,1,2102,정상회원,여,NaN,경기 용인시 수지구 동천동,1947,71,2095860.00,472.50,VIP,1,79
2,2,2103,정상회원,여,기혼,경기 용인시 수지구 동천동,1972,46,8273550.00,1675.40,VIP,1,126
3,3,2104,정상회원,여,NaN,경기 용인시 수지구 성복동,1969,49,6289495.00,1401.80,VIP,1,125
4,4,2105,정상회원,여,기혼,경기 용인시 수지구 동천동,1948,70,3067930.00,602.00,VIP,1,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280,4280,6492,정상회원,여,미혼,경기 성남시 분당구 판교동,1963,55,51550.00,10.00,일반,1,1
4281,4281,6493,정상회원,여,기혼,서울 관악구 행운동 1681,1982,36,22500.00,3.00,일반,1,1
4282,4282,6494,정상회원,남,기혼,경기 성남시 분당구 백현동,1975,43,18500.00,3.00,일반,1,1
4283,4283,6495,정상회원,여,기혼,서울 용산구 한남동 737-,1961,57,5300.00,1.00,일반,1,1
4284,4284,6496,정상회원,여,미혼,경기 수원시 영통구 이의동,1971,47,69220.00,8.00,일반,1,1

## 1. 앞서 병합한 df2 데이터를 이용해, '총구매금액'이 높은 상위 100명의 고객 명단을 추출하여, result_member_vip.xlsx로 저장 하시오.

In [32]:
vip = df2.sort_values(by='총구매금액', ascending=False).head(100)
vip.to_excel("result_member_vip.xlsx")

<ipython-input-32-bf7741b36d73>:2: UserWarning:

Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).

## 2. 회원 '성별'에 따른 '총구매금액'의 합을 비교하고자 한다. '성별' 별 '총구매금액'의 합을 Table로 계산하시오.

In [33]:
p1 = df2.pivot_table(index = '성별',
               values = '총구매금액',
               aggfunc='sum')
pd.options.display.float_format = '{:.2f}'.format
p1

           총구매금액
성별
남   250926387.00
여  3925957601.00

## 3. '결혼유무'에서 '기혼'에 해당하는 고객들 중 '총방문횟수'가 높은 상위 30명의 고객명단을 확인 하시오.

In [34]:
cond1 = (df2['결혼유무']=='기혼')
df3 = df2.loc[cond1]
# df3['결혼유무'].unique()
top30 = df3.sort_values(by='총방문횟수', ascending=False).head(30)
top30
# top30.shape

,Unnamed: 0,회원번호,회원상태,성별,결혼유무,주소,생년,연령,총구매금액,총구매수량,등급2,label,총방문횟수
39,39,2141,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1968,50,15302800.00,2896.70,VIP,1,173
3645,3645,5856,탈퇴,여,기혼,경기 용인시 수지구 신봉동,1972,46,21217470.00,4006.96,VIP,1,172
2441,2441,4649,탈퇴,여,기혼,경기 용인시 수지구 풍덕천2,1972,46,16471290.00,3447.20,VIP,1,171
2857,2857,5068,탈퇴,여,기혼,경기 용인시 수지구 동천동,1971,47,21285710.00,4180.50,VIP,1,170
1928,1928,4135,탈퇴,여,기혼,경기 용인시 수지구 신봉동,1969,49,18381620.00,3219.43,VIP,1,170
156,156,2277,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1971,47,21950630.00,4425.70,VIP,1,170
142,142,2260,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1977,41,18681595.00,3870.15,VIP,1,169
166,166,2288,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1968,50,17170370.00,2921.50,VIP,1,166
103,103,2214,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1976,42,14895300.00,2986.40,VIP,1,162
372,372,2521,정상회원,여,기혼,경기 용인시 수지구 신봉동,1974,44,13609730.00,2985.55,VIP,1,161
202,202,2329,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1962,56,5575655.00,1280.60,VIP,1,160
113,113,2229,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1976,42,13395720.00,2647.50,VIP,1,159
233,233,2363,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1971,47,10033855.00,2088.85,VIP,1,158
479,479,2637,탈퇴,남,기혼,서울 중구 장충동1가 31-,1983,35,19646542.00,3566.35,VIP,1,156
1012,1012,3203,탈퇴,여,기혼,경기 용인시 수지구 동천동,1970,48,13786410.00,2785.40,VIP,1,155
307,307,2449,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1973,45,8853580.00,2048.35,VIP,1,153
144,144,2263,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1967,51,11917750.00,2279.30,VIP,1,152
692,692,2871,정상회원,여,기혼,경기 용인시 수지구 성복동,1970,48,15670140.00,2834.65,VIP,1,152
262,262,2397,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1969,49,9319260.00,1687.80,VIP,1,152
186,186,2310,정상회원,여,기혼,경기 용인시 수지구 풍덕천2,1975,43,8750730.00,1686.00,VIP,1,151
806,806,2992,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1969,49,9183600.00,1900.20,VIP,1,149
2698,2698,4909,탈퇴,여,기혼,경기 용인시 수지구 풍덕천2,1979,39,5655670.00,1426.30,VIP,1,147
3487,3487,5698,탈퇴,여,기혼,경기 용인시 수지구 신봉동,1973,45,9511415.00,2024.37,VIP,1,146
9,9,2110,정상회원,여,기혼,경기 용인시 수지구 신봉동,1965,53,5549725.00,1204.10,VIP,1,145
6,6,2107,정상회원,여,기혼,경기 용인시 수지구 신봉동,1941,77,7161860.00,1419.75,VIP,1,143
297,297,2437,정상회원,여,기혼,경기 용인시 수지구 풍덕천1,1973,45,5653580.00,1135.10,VIP,1,139
2199,2199,4406,탈퇴,여,기혼,경기 용인시 수지구 신봉동,1977,41,12824280.00,2831.30,VIP,1,139
1421,1421,3626,탈퇴,여,기혼,경기 용인시 수지구 신봉동,1971,47,9143295.00,1775.23,VIP,1,138
707,707,2887,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1980,38,4713990.00,1144.10,VIP,1,137
130,130,2246,정상회원,여,기혼,경기 용인시 수지구 풍덕천동,1978,40,7963710.00,1684.00,VIP,1,136

## 4. '연령'을 이용해, 고객 '연령대'를 계산하고, '총구매금액'의 합이 가장 높은 2개의 '연령대'를 확인하여, 두 연령대 간의 '총구매금액'의 평균의 차이를 계산 하시오.

In [35]:
# df2['연령'].unique()

def get_agegroup(x):
    if x>= 100:
        return '100세 이상'
    else:
        return str(x)[0]+'0대'
    

df2['연령대'] = df2['연령'].apply(get_agegroup)
# df2.columns

p2 = df2.pivot_table(index = '연령대',
               values = '총구매금액',
               aggfunc='sum')

top2 = p2.sort_values(by='총구매금액', ascending=False).index[0:2]

cond1 = (df2['연령대']==top2[0])
cond2 = (df2['연령대']==top2[1])

t1=df2.loc[cond1]
t2=df2.loc[cond2]

abs(t1['총구매금액'].mean() - t2['총구매금액'].mean())

195511.71931750863

## 5. '회원상태'에 따른 '총구매금액'의 평균을 시각화 하시오.

In [36]:
p3 = df2.pivot_table(index='회원상태', values = '총구매금액',
              aggfunc = 'mean').reset_index()
# p3
px.bar(p3,x='회원상태',y='총구매금액')

## 6. '총구매금액'을 '총방문횟수'로 나누어, '1회방문구매평균'을 계산하고, 생성된 파생변수를 바탕으로 아래와 같이 고객등급을 분류하시오.
- '1회방문구매평균'이 10만원 이상 고객은 A / 5만원 이상은 B / 2만원 이상 C / 나머지는 D 등급으로 분류
- 분류된 고객 등급은 '고객등급'이라는 새로운 파생변수로 생성

In [37]:
def get_lev(x):
    if x >= 100000:
        return 'A'
    elif x>= 50000:
        return 'B'
    elif x>= 20000:
        return 'C'
    else:
        return 'D'

df2['1회방문구매평균'] = df2['총구매금액']/df2['총방문횟수']
df2['고객등급']=df2['1회방문구매평균'].apply(get_lev)
df2

,Unnamed: 0,회원번호,회원상태,성별,결혼유무,주소,생년,연령,총구매금액,총구매수량,등급2,label,총방문횟수,연령대,1회방문구매평균,고객등급
0,0,2101,정상회원,여,기혼,서울 강북구 미아동 134-,1967,51,1991230.00,382.00,VIP,1,86,50대,23153.84,C
1,1,2102,정상회원,여,NaN,경기 용인시 수지구 동천동,1947,71,2095860.00,472.50,VIP,1,79,70대,26529.87,C
2,2,2103,정상회원,여,기혼,경기 용인시 수지구 동천동,1972,46,8273550.00,1675.40,VIP,1,126,40대,65663.10,B
3,3,2104,정상회원,여,NaN,경기 용인시 수지구 성복동,1969,49,6289495.00,1401.80,VIP,1,125,40대,50315.96,B
4,4,2105,정상회원,여,기혼,경기 용인시 수지구 동천동,1948,70,3067930.00,602.00,VIP,1,57,70대,53823.33,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4280,4280,6492,정상회원,여,미혼,경기 성남시 분당구 판교동,1963,55,51550.00,10.00,일반,1,1,50대,51550.00,B
4281,4281,6493,정상회원,여,기혼,서울 관악구 행운동 1681,1982,36,22500.00,3.00,일반,1,1,30대,22500.00,C
4282,4282,6494,정상회원,남,기혼,경기 성남시 분당구 백현동,1975,43,18500.00,3.00,일반,1,1,40대,18500.00,D
4283,4283,6495,정상회원,여,기혼,서울 용산구 한남동 737-,1961,57,5300.00,1.00,일반,1,1,50대,5300.00,D
4284,4284,6496,정상회원,여,미혼,경기 수원시 영통구 이의동,1971,47,69220.00,8.00,일반,1,1,40대,69220.00,B

## 7. 새로 생성된 파생변수 '고객등급'에서 '기혼'자가 가장 많은 그룹은 어디 그룹인지 확인하시오.

In [38]:
p4 = df2.pivot_table(index = '고객등급',
                values= '결혼유무',
                aggfunc = 'count')
# p4
p4.sort_values(by='결혼유무', ascending=False).index[0]

'C'

## 8. df2 데이터에서 '주소'데이터를 바탕으로, "시" 별 '지역(시)'이라는 이름의 새로운 파생변수를 생성 하시오.
- 서울시 / 용인시 / 성남시 /수원시 /광주시 / 나머지 지역은 기타로 분류

In [39]:
def get_ad(x):
    ad = x.split()
    ad2 = ad[0:1]
    if '서울' in ad2:
        return '서울시'
    elif '용인' in ad2:
        return '용인시'
    elif '성남' in ad2:
        return '성남시'
    elif '수원' in ad2:
        return '수원시'
    elif '광주' in ad2:
        return '광주시'
    else: 
        return '기타'
    
df2['"시" 별 "지역(시)"'] = df2['주소'].apply(get_ad)
df2.columns
# df2['주소'].unique()[0:30]

Index(['Unnamed: 0', '회원번호', '회원상태', '성별', '결혼유무', '주소', '생년', '연령', '총구매금액',
       '총구매수량', '등급2', 'label', '총방문횟수', '연령대', '1회방문구매평균', '고객등급',
       '"시" 별 "지역(시)"'],
      dtype='object')

## 9. '고객등급'을 입력했을 때, 해당 고객등급에서 '성별'에 따른 '총구매금액' 기술통계량을 계산하여 'result9_등급명.xlsx'저장하는 프로그램을 구성 하시오.

In [40]:
lev = input('고객등급을 입력하시오 : ')
cond1 = (df2['고객등급'] == lev)
df3 = df2.loc[cond1]
p5 = df3.pivot_table(index = '성별',
               values = '총구매금액',
               aggfunc = 'describe').T

p5.to_excel(f'result9_{lev}.xlsx')

고객등급을 입력하시오 : A

<ipython-input-40-4b106b5344a6>:8: UserWarning:

Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).

## - 판매 품목에 대한 분석을 수행하고자 한다.

## 10. df_product데이터의 구조와 타입을 확인 하시오.

In [41]:
df3 = pd.read_csv('06_store_product.csv')
df3

,공급일자,물품코드,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,회원번호
0,20170201,50142001,채소,잎/줄기채소,시금치,시금치(300g),1.00,2000,매장3,NaN,2101.00
1,20170201,60302012,축산물,육가공,돈가스/분쇄가공,튀김옷돈가스(400g),1.00,6300,매장3,NaN,2101.00
2,20170201,80301002,간식,밀가공,라면,감자라면(110g:1봉),2.00,2600,매장3,NaN,2101.00
3,20170201,80301010,간식,밀가공,라면,사리면(100g),1.00,900,매장3,NaN,2101.00
4,20170201,80305003,간식,밀가공,만두,고기만두(500g),1.00,5400,매장3,NaN,2101.00
...,...,...,...,...,...,...,...,...,...,...,...
735778,20170630,100201003,반찬,두부/유부,두부,두부(1모:420g),1.00,2200,매장3,NaN,2637.00
735779,20170630,100306006,반찬,즉석조리,간편요리,현미쌀가스(320g),1.00,5830,매장3,NaN,2637.00
735780,20170630,130214027,생활용품,생활용품,기타생활용품,모기기피제(로즈마리향),1.00,8470,매장3,NaN,2637.00
735781,20170630,130501098,생활용품,화장품,기초화장품,수피아 알로에베라잎즙 수딩젤,1.00,7370,매장3,NaN,2637.00
735782,20170630,110102066,음료,음료,과즙,감귤즙(유기/150ml*10봉),1.00,10450,매장4,NaN,2637.00

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735783 entries, 0 to 735782
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   공급일자      735783 non-null  int64
 1   물품코드      735783 non-null  int64
 2   물품대분류     735783 non-null  object
 3   물품중분류     735783 non-null  object
 4   물품소분류     735783 non-null  object
 5   물품명       735783 non-null  object
 6   구매수량      735783 non-null  float64
 7   구매금액      735783 non-null  int64
 8   구매매장      735783 non-null  object
 9   반품_원거래일자  10337 non-null   float64
 10  회원번호      735761 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 61.7+ MB

## 11. df_product데이터의'물품대분류' 중 가장 많이 판매되는(수량)3가지 항목을 추출하여, df_product_top이라는 변수로 선언하고, df_product_top에서 '구매매장'별 '구매금액'의 합과 평균을 계산 하시오.

In [43]:
df_product_top = df3['물품대분류'].value_counts().index[0:3]
df_product_top

cond1 = df3['물품대분류'].isin(df_product_top)
a = df3.loc[cond1]
# a['물품대분류'].unique()
p6 = a.pivot_table(index = '구매매장',
             values = '구매금액',
             aggfunc = ['sum','mean'])
p6

            sum    mean
           구매금액    구매금액
구매매장
매장1   363985400 4770.64
매장2   461745602 4908.27
매장3   916748142 4949.91
매장4   419048570 5019.15

## 12. 공급일자'데이터를 날짜형식으로 변환하여, '연도' / '월' / '요일' 항목을 새로운 파생변수로 생성하시오.

In [44]:
df3['공급일자_dt'] = pd.to_datetime(df3['공급일자'], format = '%Y%m%d')

# df3.info()
df3['연도'] = df3['공급일자_dt'].dt.year
df3['월'] = df3['공급일자_dt'].dt.month
df3['요일'] = df3['공급일자_dt'].dt.day_name()


df3.columns
df3

,공급일자,물품코드,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,회원번호,공급일자_dt,연도,월,요일
0,20170201,50142001,채소,잎/줄기채소,시금치,시금치(300g),1.00,2000,매장3,NaN,2101.00,2017-02-01,2017,2,Wednesday
1,20170201,60302012,축산물,육가공,돈가스/분쇄가공,튀김옷돈가스(400g),1.00,6300,매장3,NaN,2101.00,2017-02-01,2017,2,Wednesday
2,20170201,80301002,간식,밀가공,라면,감자라면(110g:1봉),2.00,2600,매장3,NaN,2101.00,2017-02-01,2017,2,Wednesday
3,20170201,80301010,간식,밀가공,라면,사리면(100g),1.00,900,매장3,NaN,2101.00,2017-02-01,2017,2,Wednesday
4,20170201,80305003,간식,밀가공,만두,고기만두(500g),1.00,5400,매장3,NaN,2101.00,2017-02-01,2017,2,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735778,20170630,100201003,반찬,두부/유부,두부,두부(1모:420g),1.00,2200,매장3,NaN,2637.00,2017-06-30,2017,6,Friday
735779,20170630,100306006,반찬,즉석조리,간편요리,현미쌀가스(320g),1.00,5830,매장3,NaN,2637.00,2017-06-30,2017,6,Friday
735780,20170630,130214027,생활용품,생활용품,기타생활용품,모기기피제(로즈마리향),1.00,8470,매장3,NaN,2637.00,2017-06-30,2017,6,Friday
735781,20170630,130501098,생활용품,화장품,기초화장품,수피아 알로에베라잎즙 수딩젤,1.00,7370,매장3,NaN,2637.00,2017-06-30,2017,6,Friday
735782,20170630,110102066,음료,음료,과즙,감귤즙(유기/150ml*10봉),1.00,10450,매장4,NaN,2637.00,2017-06-30,2017,6,Friday

## 13. '월'에 따른'물품대분류'별 '구매금액'의 합을 게산하여 result8.xlsx저장 하시오.

In [45]:
df3.pivot_table(index = ['월','물품대분류'],
               values = '구매금액',
               aggfunc='sum').to_excel('result8.xlsx')
# df3['월'].unique()

<ipython-input-45-151ff5ebade4>:1: UserWarning:

Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.2.9' currently installed).

## 14. '요일'에서 '주말'과'주중'을 구분하여, '주중'과 '주말'의 구매수량의 합을 확인하시오.

In [48]:
def get_w(x):
    if x == 'Sunday' or x =='Saturday':
        return '주말'
    else:
        return '주중'
    
df3['요일판단'] = df3['요일'].apply(get_w)
df3.pivot_table(index = '요일판단',
               values = '구매수량',
               aggfunc='sum')

          구매수량
요일판단
주말   177127.76
주중   671957.44

In [49]:
df3['요일'].unique()

array(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)