In [1]:
import pickle
import pandas as pd

In [3]:
# 불러오기
model = pickle.load(open ('model.sav','rb'))

In [4]:
# 새로운 값 입력
x1 = input('Term')
x2 = input('Amount_Month')
x3 = input('Age')
x4 = input('Credit_Rank')

input_data = [x1,x2,x3,x4]

Term 12
Amount_Month 100000
Age 45
Credit_Rank 3

In [5]:
# 입력받은 정보를 가지고 이사람이 해약할지 안할지 예측

In [6]:
input_df = pd.DataFrame(data = [input_data])
# 리스트 안하면 세로로 들어감

In [7]:
input_df

    0       1   2  3
0  12  100000  45  3

In [8]:
# 예측 
model.predict(input_df)

C:\Users\campus4D039\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [9]:
# 예측결과
# array([0], dtype=int64) -> 0이 나올 것이다 해약x

In [10]:
input_df2 = pd.DataFrame(data= [input_data], 
                        columns = ['Term','Amount_Month','Age','Credit_Rank'])
# 이렇게 하면 경고가 안나옴

In [11]:
model.predict(input_df2)

array([0], dtype=int64)

In [17]:
a ='이름 국어 영어 수학'
a = a.split()
name = a[0]
name

'이름'