# 미션 1
- 아래의 미션을 Jupyter Notebook으로 푼 후 [File] - [Download as] - [HTML] 저장 제출
- birdland1903@gmail.com
- 제출양식 : Day1_Mission_반복문_홍길동
- 처음 풀이 시, 30분 정도 구글링이나 Chat GPT 없이 풀이

## 1. for 반복문으로 특정 리스트 내의 모든 숫자 합을 계산하는 함수를 구성하시오

- 숙련자 : input 함수를 이용하고, 함수로 구성

In [18]:
def sum_lst(lst):
    sum = 0
    for i in range(len(lst)):
        sum += lst[i]
    return sum

In [19]:
lst_input = list(map(int, input().split()))
sum_lst(lst_input)

 1 2 3 4 5 6 7 8 9 10

55

## 2. for 반복문으로 특정 리스트 안에 있는 모든 숫자의 평균을 계산하는 함수를 구성하시오
- 숙련자 : input 함수를 이용하고 함수로 구성

In [1]:
def mean_lst(lst):
    sum = 0
    for i in range(len(lst)):
        sum += lst[i]
    return sum/len(lst)

In [2]:
lst_input = list(map(int, input().split()))
mean_lst(lst_input)

 1 4 7

4.0

## 3. 성적처리 함수를 만들고자 한다.
- 학생이 입력한 값의 평균을 계산해서 90점 이상이면 A / 80점 이상이면 B / 70점 이상이면 C / 나머지는 D 를 출력하는 함수를 구성
    - 입력값 (input) / 5개의 숫자 값을 입력 / 띄어쓰기로 구분하여 입력
    - 입력값에 학생이름도 포함
        - ex) 홍길동 100 90 54 90 34
    - 출력 : 홍길동 학생의 평균은 00 입니다. 학점은 00입니다.

In [7]:
def mean_lst(lst):
    sum = 0
    for i in range(len(lst)):
        sum += lst[i]
    
    score_mean = sum/len(lst)

    if score_mean>=90:
        score = "A"
    elif score_mean>=80:
        score = "B"
    elif score_mean>=70:
        score = "C"
    else:
        score = "D"
    
    return score_mean,score

In [8]:
name = input('이름을 입력하세요')
lst_input = list(map(int, input('점수를 입력하세요').split()))
score_mean,score = mean_lst(lst_input)
print(f"{name}학생의 평균은 {score_mean} 입니다. 학점은 {score}입니다.")

이름을 입력하세요 홍길동
점수를 입력하세요 10 10 10 10 30

홍길동학생의 평균은 14.0 입니다. 학점은 D입니다.

## 4. 윤년 / 평년을 판별하는 함수를 구성
- 윤년 : 4의 배수에 해당하는 연도 / 100으로 나눠지지 않는 연도 / 400으로 나눠지는 연도
- 평년 : 위 조건에 해당하지 않는 경우

- 숙련자 : if문 없이 생성 : Dictionary로 구성

In [11]:
def determine_year(x):
    # 딕셔너리로 if문 대신할 수 있음
    if (x%4==0 and x%100!=0) or x%400==0:
        return '윤년'
    else:
        return '평년'

In [22]:
# 1. 판별 딕셔너리 하나 만들어서 윤년여부랑, 참거짓 여부 넣음
# 2. 변수하나 만들어서 참,거짓 값 저장하기
# 3. 저정된 참 거짓 값으로 벨류 가져오기 -> 평년, 윤달 판별됨

def determine_year2(x):
    # 딕셔너리로 if문 대신할 수 있음
    now_year = {True : '윤년', False : '평년'} # 딕셔너리 제시
    is_year = (x%4==0 and x%100!=0) or x%400==0
    return now_year[is_year] # 키값으로 벨류 가져오기

In [25]:
years = [2009, 2011, 2020, 2022]

for y in years:
    results = {y: determine_year2(y)}
    print(results)

{2009: '평년'}
{2011: '평년'}
{2020: '윤년'}
{2022: '평년'}

In [23]:
years = []
result = []

year = int(input())
r=determine_year2(year)

years.append(year)
result.append(r)

# print(years)
# print(result)

yy=dict(zip(years,result))
print(yy)

 2030

{2030: '평년'}