In [2]:
import pandas as pd
import numpy as np

In [3]:
df9 = pd.read_csv('09_Data.csv', encoding = 'cp949')

## 1. Unnamed:0와 카드사 컬럼을 제외하여 df10으로 선언한 후, df10의 컬럼명을 확인하시오

In [7]:
df10 = df9.drop(['Unnamed: 0','카드사'], axis=1)
# df10 = df9.drop(['Unnamed: 0','카드사']) #  axis=1 없어도 됨
df10.columns

Index(['결제수단', '교환구분', '배송번호', '배송시작일', '배송완료일', '사용한 적립금액', '상품구매금액', '상품명',
       '상품번호', '상품별 추가할인금액', '수량', '주문 시 회원등급', '주문경로', '주문번호', '주문일시',
       '주문자ID', '쿠폰 할인금액', '품목번호'],
      dtype='object')

## 2. df10의 구조와 타입을 확인하시오

In [8]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46749 entries, 0 to 46748
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   결제수단        46749 non-null  object
 1   교환구분        46749 non-null  object
 2   배송번호        46749 non-null  object
 3   배송시작일       46749 non-null  object
 4   배송완료일       46749 non-null  object
 5   사용한 적립금액    46749 non-null  int64
 6   상품구매금액      46749 non-null  int64
 7   상품명         46661 non-null  object
 8   상품번호        46661 non-null  float64
 9   상품별 추가할인금액  46749 non-null  int64
 10  수량          46749 non-null  int64
 11  주문 시 회원등급   43644 non-null  object
 12  주문경로        46749 non-null  object
 13  주문번호        46749 non-null  object
 14  주문일시        46749 non-null  object
 15  주문자ID       46749 non-null  object
 16  쿠폰 할인금액     46749 non-null  int64
 17  품목번호        46749 non-null  int64
dtypes: float64(1), int64(6), object(11)
memory usage: 6.4+ MB

## 3. df10의 결측치를 확인한 후, 결측치가 있는 행들을 제거하여 df10_clean으로 선언하고, df10_clean의 결측치 유무를 확인하시오.

In [28]:
df10.isnull().sum() 
# 상품명             88
# 상품번호            88 
# 주문 시 회원등급     3105
df10_clean = df10.dropna(axis=0)
df10_clean.isnull().sum()
# df10_clean.isnull().sum().sum() 벨류 합만 보여줌

0

## 4. df10_clean의 결제수단에는 어떤 항목이 있는지 확인한 후, 그중 '적립금'이 포함된 값들만 추출하여 df_point로 선언하시오.

In [37]:
df10_clean['결제수단'].unique()

array(['무통장입금', '적립금,무통장입금', '카드', '적립금,가상계좌', '적립금,카드', '가상계좌', '쿠폰,카드',
       '예치금', '예치금,적립금,무통장입금', '쿠폰,무통장입금', '페이나우(실시간 계좌이체)', '예치금,무통장입금',
       '페이나우(카드)', '실시간계좌이체', '카드,무통장입금', '예치금,쿠폰,무통장입금', '예치금,카드',
       '카카오페이(카드)', '카카오페이(카카오머니)', '적립금,카카오페이(카카오머니)', '쿠폰,예치금',
       '적립금,카카오페이(카드)', '쿠폰,가상계좌', '적립금,페이나우(카드)', '적립금,카드,무통장입금',
       '적립금,페이나우(실시간 계좌이체)', '예치금,적립금,카드', '휴대폰', '에스크로(실시간계좌이체)',
       '쿠폰,휴대폰', '적립금,휴대폰', '쿠폰,페이나우(카드)', '쿠폰,에스크로(실시간계좌이체)',
       '쿠폰,카드,무통장입금', '무통장입금,휴대폰', '페이나우(카드),무통장입금', '쿠폰,카카오페이(카드)',
       '예치금,쿠폰,카드', '무통장입금,실시간계좌이체', '예치금,휴대폰', '적립금,실시간계좌이체',
       '예치금,실시간계좌이체'], dtype=object)

In [55]:
cond = (df10_clean['결제수단'].str.contains('적립금'))

df_point = df10_clean[cond]
df_point['결제수단'].unique()

array(['적립금,무통장입금', '적립금,가상계좌', '적립금,카드', '예치금,적립금,무통장입금',
       '적립금,카카오페이(카카오머니)', '적립금,카카오페이(카드)', '적립금,페이나우(카드)',
       '적립금,카드,무통장입금', '적립금,페이나우(실시간 계좌이체)', '예치금,적립금,카드', '적립금,휴대폰',
       '적립금,실시간계좌이체'], dtype=object)

In [53]:
def find_char(row):
    if '적립금' in row:
        return True
    else:
        return False

cond1 = df10_clean['결제수단'].apply(find_char) # 함수만든거 apply함 - for문처럼 쓰였다.
df_point = df10_clean.loc[cond1]
df_point['결제수단'].unique()

array(['적립금,무통장입금', '적립금,가상계좌', '적립금,카드', '예치금,적립금,무통장입금',
       '적립금,카카오페이(카카오머니)', '적립금,카카오페이(카드)', '적립금,페이나우(카드)',
       '적립금,카드,무통장입금', '적립금,페이나우(실시간 계좌이체)', '예치금,적립금,카드', '적립금,휴대폰',
       '적립금,실시간계좌이체'], dtype=object)

## 5. df10_celan 중 주문 시 회원등급의 항목과 빈도수를 확인하시오

In [21]:
df10_ch = df10_clean['주문 시 회원등급'].describe(include='object')
uniq = df10_ch['unique']
freq = df10_ch['freq']
print(f"항목 : {uniq}, 빈도 : {freq}")

항목 : 8, 빈도 : 15921

In [30]:
u = df10_clean['주문 시 회원등급'].unique()
u

array(['전화주문 고객', '일반', '사업자', '특별회원', '딜러 유치 회원', '관리자', 'VIP', '딜러'],
      dtype=object)

In [31]:
f = df10_clean['주문 시 회원등급'].value_counts() # 항목이랑 값
f

주문 시 회원등급
사업자         15921
일반          15137
전화주문 고객     11860
딜러 유치 회원      463
특별회원          111
관리자            75
딜러             30
VIP             1
Name: count, dtype: int64

## 6. df10_clean 중 '주문시 회원 등급' 별 주문한 수량 (수량)의 합과 평균을 확인하시오

In [27]:
p1 = df10_clean.pivot_table(index = '주문 시 회원등급', values = '수량', aggfunc=['sum','mean'])
p1

             sum      mean
              수량        수량
주문 시 회원등급
VIP            1  1.000000
관리자          137  1.826667
딜러            33  1.100000
딜러 유치 회원     575  1.241901
사업자        19180  1.204698
일반         17472  1.154258
전화주문 고객    13760  1.160202
특별회원         123  1.108108

In [32]:
p1.columns
# ('mean', '수량') -> 특별회원 가져와서 보고 싶은데

MultiIndex([( 'sum', '수량'),
            ('mean', '수량')],
           )

In [33]:
p1.loc['특별회원']

sum   수량    123.000000
mean  수량      1.108108
Name: 특별회원, dtype: float64

In [34]:
p1.columns = p1.columns.droplevel(1) # 이중칼럼이 사라짐
p1

             sum      mean
주문 시 회원등급
VIP            1  1.000000
관리자          137  1.826667
딜러            33  1.100000
딜러 유치 회원     575  1.241901
사업자        19180  1.204698
일반         17472  1.154258
전화주문 고객    13760  1.160202
특별회원         123  1.108108

In [35]:
p1.loc['특별회원'] # 수량 부분 사라지고 값만 잘 나오는 것 확인

sum     123.000000
mean      1.108108
Name: 특별회원, dtype: float64

# 7.사업자와 일반 고객의 사용한 적립금액의 합과 평균을 계산한 후 각각의 차를 계산하시오

In [70]:
df10['주문 시 회원등급'].unique()
cond1 = (df10['주문 시 회원등급'].isin(['사업자','일반']))
p = df10.loc[cond1]

p.pivot_table(index='주문 시 회원등급',
               values='사용한 적립금액',
               aggfunc=['sum','mean'])

                sum         mean
           사용한 적립금액     사용한 적립금액
주문 시 회원등급
사업자        29141940  1829.719345
일반          8339041   549.452527

# 8.주문 시 회원등급을 입력하면 사용한 적립금액의 기술통계량을 반환하는 함수를 만드시오

In [72]:
print(df_point['주문 시 회원등급'].unique())
input_rank = input('회원 등급을 입력하시오')
cond1 = (df_point['주문 시 회원등급'] == input_rank)
p1 = df_point.loc[cond1]
p1['사용한 적립금액'].describe() # 기술통계량

['일반' '사업자' '딜러 유치 회원' '전화주문 고객' '특별회원' '관리자' '딜러']

회원 등급을 입력하시오 딜러

count        6.0
mean     14640.0
std          0.0
min      14640.0
25%      14640.0
50%      14640.0
75%      14640.0
max      14640.0
Name: 사용한 적립금액, dtype: float64

In [77]:
def func3():
    print(df_point['주문 시 회원등급'].unique())
    input_rank = input('회원 등급을 입력하시오')
    
    if input_rank in df_point['주문 시 회원등급'].unique():
        cond1 = (df_point['주문 시 회원등급'] == input_rank)
        p1 = df_point.loc[cond1]
        return p1['사용한 적립금액'].describe() # 기술통계량
    else:
        return '다시 입력하시오'

func3()

['일반' '사업자' '딜러 유치 회원' '전화주문 고객' '특별회원' '관리자' '딜러']

회원 등급을 입력하시오 딜러

count        6.0
mean     14640.0
std          0.0
min      14640.0
25%      14640.0
50%      14640.0
75%      14640.0
max      14640.0
Name: 사용한 적립금액, dtype: float64